---
layout: default
title: Home
---

{% if paginator.page == 1 %}
  <div class="index-about">
    {% capture about_md %}{% include about.md %}{% endcapture %}
    {{ about_md | markdownify }}
  </div>

  <h1 id="recent">Recent Posts</h1>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    {% if post.subtitle %}
    <div class="post-subtitle">{{ post.subtitle }}</div>
    {% endif %}

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}#recent">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>


<hr>

<footer class="footer-attribution">
  Written by <a href="{{ site.author.url }}">{{ site.author.handle }}</a>.
</footer>
