<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Twitter: <a href="{{ site.author.twitter_url }}" target="_blank">{{ site.author.twitter_alias }}</a></p>
    <p>GitHub: <a href="{{ site.author.github_url }}" target="_blank">{{ site.author.github_alias }}</a></p>
    <p>Email: <a href="#" data-obf="{{ site.author.email | split: "" | reverse | join: "" }}"></a></p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "archive" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.author.github_url }}" target="_blank">GitHub</a>
  </nav>

  <div class="sidebar-item">
    <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative Commons CC0</a>, {{ site.time | date: '%Y' }}.
  </div>
</div>
