---
layout: page
---

{% for post in site.posts %}
  {% capture prevyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nextyear %}{{ post.previous.date | date: '%Y' }}{% endcapture %}

  {% if year != prevyear %}
    <h3>{{ year }}</h3>
    <table class="year-group">
  {% endif %}
      <tr>
        <td><time>{{ post.date | date:"%B %d" }}</time></td>
        <td><a href="{{ post.url }}">{{ post.title }}</a></td>
      </tr>
  {% if year != nextyear %}
    </table>
  {% endif %}
{% endfor %}
